<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-info is-fullheight">

      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a>
                <%= link_to "Home", root_path, class: "navbar-item" %>
              </a>
              <a>
                <%= link_to "All URLs", urls_path, class: "navbar-item" %>
              </a>
            </div>
          </div>
        </header>
      </div>

      <%= yield %>

      <div class="hero-foot">
        <div class="container has-text-centered">
          <p>A Jacob Jones website</p>
        <div> 
      </div>
    </section>
  </body>
</html>
